body {
  background-color: black;
}

h1 {
  color: white;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  margin-top: 5%;
}

#interface {
  background-color: rgb(124, 124, 124);
  color: white;
  border-radius: 2em;
  width: 300px;
  font-family: "Courier New", Courier, monospace;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.2em;
  margin-left: 37%;
}

#results {
  list-style: none;
  padding: 0;
  text-align: right;
  height: 8em;
  max-height: 8em;
  overflow-y: scroll;
}

#clear {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: rgb(247, 168, 192);
}

#clear:hover {
  cursor: pointer;
  text-decoration: underline;
}

input[type="text"] {
  width: calc(100% - 1em);
  text-align: right;
}

select,
button {
  height: 3em;
}
